:root {
  --dark: #000;
  --lite: #7583b5;
  --lite-teal: #6172ab;
  --med-teal: #4d60a0;
  --dark-teal: #3a4f96;
  --dark-dark:#222f5a;
  --wht-teal: #c3cadf;
  --wht: #ffffff;
  --txt-shdw: -1.3px 1.3px #262627;
  --txt-shdw2: -.75px .75px #c3cadf;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  background: linear-gradient(90deg, var(--dark-dark), var(--lite-teal));
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3;
  /* margin: 0;
  min-height: 100%;
  width: 100%;
  max-width: 1280px; */

  /* display: flex;
  flex-direction: column; */
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3 {
  color: var(--dark);
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  line-height: 1.3;
  text-align: center;
}

h1,
h2,
h3,
p {
  margin: 0;
}

h2,
h3,
p {
  margin-bottom: 1em;
}

a:link {
  list-style: none;
  text-decoration: none;
}

a {
  list-style: none;
  text-decoration-style: none;
}

.index-html {
  background: linear-gradient(90deg, var(--dark-dark), var(--lite-teal));
}

.gallery-html {
  background-image: linear-gradient(90deg, #204950, #a0c0c5);
}

.header {
  width: 100%;
  background: linear-gradient(90deg, #0a0f29, var(--med-teal), var(--lite-teal), var(--lite-teal));
  /* display: flex; */
  /* Below pushed the logo to the left and the links to the right */
  /* justify-content: space-between; */
  /* align-items: center; */
  padding: 1.125rem 2.5rem;
  /* position: sticky; */
  /* top: 0; */
  /* z-index: 999; */
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.4);
}

.logo {

  background-image: linear-gradient(90deg, var(--lite-teal), var(--wht-teal));
  background-clip: text;
  color: transparent;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 1px;
}

/* NAVIGATION BAR */
nav {
  /* background: linear-gradient(90deg, #0a0f29, var(--med-teal), var(--lite-teal), var(--lite-teal)); */
  display: flex;
  /* this puts space between the logo and the list items */
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  min-height: 2.5vh;
  width: 100%;
}

 .nav-links {
  /* this puts the items horizontal */
  display: flex;
  /* this (along with the width) gives space in between the links */
  justify-content: space-between;
  align-items: center;
  list-style: none;

 }

 .nav-links a {
  color: var(--dark-dark);
  font-size: 1.3rem;
  font-weight: 700;
  /* margin-left: 1em; */
  padding: 0 1.25rem;
  text-shadow: var(--txt-shdw2);
  /* text-transform: uppercase; */
 }

 .nav-links a:hover {
  color: var(--wht-teal);
 }

 .nav-bit {
  list-style: none;
  text-decoration: none;
 }

/* HAMBURGER MENU */
.burger {
  cursor: pointer;
  display: none;
}

.burger div {
  background-color: var(--dark-teal);
  margin: 5px;
  height: 3px;
  width: 25px;
  transition: all 0.1s ease;
}

.burger:after, .burger:before {
  content: '';
	    width: 100%;
	    height:4px;
	    position:absolute;
}

.burger:after {
	    bottom:0px;
	    left:0;
	}
	.burger:before {
	    top:6px;
	    left:0;
	}


/* LOGO */
.index-brand--index,
.gallery-brand--index {
  font-size: clamp(1.3rem, 0.9667rem + 1.6667vw, 2.3rem);
  color: #ff7300;
  /* background-image: linear-gradient(
    90deg,
    red,
    orange,
    yellow,
    green,
    #083deb,
    violet
  );
  background-clip: text;
  color: transparent; */
  margin-top: 0.05em;
  padding: 0.2em;
  text-decoration: none;
}

.gallery-brand--index {
  /* background-image: linear-gradient(180deg, #032025, #53939e); */
  background-image: linear-gradient(rgb(8, 175, 161), rgb(3, 95, 102));
  background-clip: text;
  color: transparent;
  display: inline-block;
}

.index-brand--index:hover,
.gallery-brand--index:hover {
  color: var(--dark-teal);
}

/* BUTTONS */

.a-btn {
  margin: 0 auto;
  text-align: center;
}

.hero-button {
  display: inline-block;
  border: 2px solid var(--wht-teal);
  border-radius: 10px;
  background-color: var(--lite);
  color: var(--dark-dark);
  cursor: pointer;
  font-family: "Quicksand", sans-serif;
  font-size: 0.75rem;
  font-weight: 700;
  height: 3rem;
  letter-spacing: 0.07rem;
  margin: 0.5em auto;
  padding: 0.75em 0.75em;
  position: relative;
  outline: none;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.shirts-button {
  display: inline-block;
  border: 2px solid var(--wht-teal);
  border-radius: 5px;
  background: none;
  background-color:var(--dark-teal);
  color: #ff7300;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  height: 2.5rem;
  letter-spacing: 0.09rem;
  padding: 0.5em 2em;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 auto;
  margin-top: 2rem;
}

.hero-button::before {
  content: "";
  /* margin: 0 auto; */
  position: absolute;
  top: 110%;
  left: 0;
  height: 100%;
  width: 100%;
}

.shirts-button::before {
  content: "";
  position: absolute;
  top: 110%;
  left: 0;
  height: 100%;
  width: 100%;
}

.hero-button:hover {
  background-color: var(--dark-dark);
  color: var(--wht-teal );
  border: 2px solid var(--wht-teal);
  overflow: hidden;
}

.shirts-button:hover {
  color: #ff5100;
  box-shadow: 0 5px 50px 0 #d8c51b inset, 0 5px 50px 0 #d8c51b,
    0 5px 50px 0 #d8c51b inset, 0 5px 50px 0 #d8c51b;
  /* overflow: hidden; */
}

.genson-button {
  color: var(--wht-teal);
}

.genson-button:hover {
  color: var(--lite-teal);
}

/* =====HERO SECTION===== */
.index-h1 {
  color: var(--wht-teal);
  font-size: 1.8rem;
  margin-top: 1rem;
  padding: 1rem 0;
}

.hero {
  /* border: 5px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
}

.hero-container {
  margin: 0 auto;
  margin-bottom: 2em;
  width: 100%;
}

.hero-flex {
  margin: 0;
  padding: 0;
}

.hero-image--01 {
  margin: 0;
  /* padding: 0 auto; */
  max-width: 90%;
  margin: 0 auto;
  /* box-shadow: -10px 10px rgba(0, 0, 0, 0.1); */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.hero-image--02 {
  display: none;
}

/* END OF HERO SECTION */

/* GALLERY PAGE*/
.gallery-images {
  /* background-color: var(--dark-teal); */

  margin-top: 3rem;
  min-height: 100%;
}

.gallery-images--text {
  margin: 0 auto;
  margin-top: 2rem;
  text-align: center;
  max-width: 500px;
  padding: 0 1em;

}

.gallery-img--para {
  /* background: #450f77; */
  background: linear-gradient(90deg, #0d5461, #a0c0c5, #c799f1);
  border-radius: 1.2rem;
  color: #fff;
  font-size: 1.3rem;
  line-height: 1.4;
  margin: 0 auto;
  padding: 1em;
  text-align: center;
  /* text-shadow: -1px -1px #000; */
  text-shadow: var(--txt-shdw);
  width: 100%;

}

.gallery-images--span {
  color: var(--wht-teal);
  font-size: 1.2rem;
  font-weight: 700;
}

.genson-span {
  color: #fff;
  font-size: 1.5rem;
  text-shadow: var(--txt-shdw);
}

.shop-text {
  display: inline-block;
  background: linear-gradient(90deg, #602d91 ,var(--wht-teal), var(--med-teal));
  border-radius: 20px;
  color: #fff;
  font-size: 1rem;
  margin: 1em 0;
  padding: 0.5em 2em;
  text-shadow: var(--txt-shdw);
  text-transform: uppercase;
}

.shop-text:hover {
  color: var(--dark-teal);
}

/* MAIN GALLERY */
.main-gallery {
  background-color: var(--dark);
  position: relative;
  margin-top: 1rem;
  width: 100%;
  padding: 0 2rem;
  padding-bottom: 1rem;
  text-align: center;
  box-shadow: var(--txt-shdo);
}

.container {
  margin: 0 auto;
  width: 100%;
}

/* .row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
} */

.images-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  max-width: 1280px;
}

.sitez {
  background-color: #17353a;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
  padding: 0.75em 1em;
}
.site-img {
  background-color: var(--dark-teal);
  border-radius: 20px;
  box-shadow: -8px 8px rgba(0, 0, 0, 0.2);
  padding: 1.5rem;
  height: auto;
  width: 300px;
}

.gallery-text {
  display: inline-block;
  background-color: var(--lite-teal);
  color: var(--wht-teal);
  border-radius: 20px;

  font-size: clamp(1rem, 0.9667rem + 1.6667vw, 1.5rem);
  margin-top: 1.5rem;
  padding: 0.5em;
}

/* FOOTER */
.index-footer,
.gallery-footer {
  background-color: #000;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.index-footer--text,
.gallery-footer--text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 0.5;
  padding: 1em 0;
}

.index-h3,
.gallery-h3 {
  color: var(--wht-teal);
  font-size: 1.5rem;
}

.index-email,
.gallery-email {
  color: var(--lite);
  font-size: 0.9rem;
}

.index-footer--para,
.gallery-footer--para {
  color: var(--lite-teal);
}

.footer-button {
  color: var(--lite);
  font-size: 1.5rem;
}

.footer-button:hover {
  color: var(--lite-teal);
}

/* SOCIAL LINKS */

/* .social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(90deg, #8dbcca, #0d5461);
  background-image: linear-gradient(
    90deg,
    red,
    orange,
    #ffff00,
    green,
    #083deb,
    violet
  );
  background-clip: border-box;
  color: transparent;
  width: 100%;
  height: 1rem;
} */

.social-icon {
  color: var(--dark);
  font-size: 2rem;
  margin: 0 1rem;
  margin-top: 1rem;
}

.social-icon :hover {
  color: var(--wht);
}

.fa-facebook,
.fa-instagram {
  color: #000;
  font-size: 2rem;
  margin-right: 1.5rem;
  padding: 0.25em;
}

/* MEDIA QUERIES */
@media screen and (max-width: 353px) {
  .hero-button {
    border: 2px solid #cf6d1d;
    border-radius: 5px;
    background-color: #d8c51b;
    color: #cf6d1d;
    font-size: 0.5em;
    font-weight: 700;
    height: 1.5rem;
    letter-spacing: 0.07rem;
    padding: 0.4rem 1.5em;
    right: 68%;
  }
}

/* MEDIA QUERIES */
@media (max-width: 650px) {

.index-brand--index,
  .gallery-brand--index {
    padding: 0.5em 0 0 0;

  }

  .navbar,
  .navbar-gallery {
    flex-direction: column;
    height: 6rem;
  }

  .nav-menu {
    margin: 0;
  }

  .nav-link {
    color: #d8c51b;
    font-size: 1rem;
  }

  .nav-link--gallery {
    font-size: 1rem;
  }
  .burger {
    display: block;
    height: 2px;
    width: 18px;
    margin: 3px auto;
    z-index: 1;
  }

  .bar-index,
  .bar-gallery {
    display: block;
    height: 2px;
    width: 18px;
    margin: 3px auto;
    transition: all 0.3s ease-in-out;
  }

  .hero-image--01 {
    display: none;
  }

  .hero-image--02 {
    display: block;
    border-top: 5px solid var(--lite);
    border-bottom: 5px solid var(--lite);
    padding: 0 auto;
  }

  .hero-button {
    background-color: #096559;
    border: 2px solid #000000;
    /* border-radius: 5px; */
    color: #d8c51b;
    font-size: 0.6rem;
    font-weight: 700;
    height: 2rem;
    letter-spacing: 0.07rem;
    padding: 0.5em 2em;
    right: 68%;
  }

  .shirts-button {
    font-size: 0.8rem;
  }

  .index-h1 {
    font-size: 1rem;
  }

  .index-h3,
  .gallery-h3 {
    font-size: 1rem;
  }

  .footer-button {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 495px) {
  .gallery-img--para {
    font-size: 1rem;
    padding: 1rem;
    text-align: left;
  }

  .gallery-images--text {
    color: red;
    font-size: 1.3rem;
  }

  .shop-text {
    text-align: center;
    font-size: 1rem;
  }

  .shirts-button {
    font-size: 0.5rem;
    padding: 0.5rem 0.75rem;

    font-weight: 700;
    height: 2rem;
    letter-spacing: 0.09rem;
    padding: 0.5em 1.5em;
  }

  .bar-index,
  .bar-gallery {
    display: block;
    height: 2px;
    width: 18px;
    margin: 3px auto;
    transition: all 0.3s ease-in-out;
  }
}


@media screen and (max-width: 640px) {
  /* nav {
    position: absolute;
    top: 4.375rem
    ;
    left: 0;
    background: linear-gradient(180deg, #0f172a, var(--med-teal));
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 0.9375rem;
    padding: 1.5625rem;
    display: none;
  } */

  /* .nav-links {
    background-color: rgb(4, 3, 32);
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 1.2rem;
    position: absolute;
    right: 0; */
    /* this pushes the menu to the far side when the screen is large. To not see the menu, we add body{overflow-x:hidden (above); */
    /* transform: translateX(100%); */
    /* the width can be smaller or larger if we want */
    /* max-width: 38%; */
    /* transition: transform 0.5s ease-in;
    z-index: 1;
  } */

  /* .burger {
    display: block;
  }

  .logo {
    font-size: 1.2rem;
  } */
   .index-brand--index,
  .gallery-brand--index {
    padding: 0.5em 0 0 0;

  }

  .navbar,
  .navbar-gallery {
    flex-direction: column;
    height: 6rem;
  }

  .nav-menu {
    margin: 0;
  }

  .nav-link {
    color: #d8c51b;
    font-size: 1rem;
  }

  .nav-link--gallery {
    font-size: 1rem;
  }
  .burger {
    display: block;
    height: 2px;
    width: 18px;
    margin: 3px auto;
    z-index: 1;
  }

  .bar-index,
  .bar-gallery {
    display: block;
    height: 2px;
    width: 18px;
    margin: 3px auto;
    transition: all 0.3s ease-in-out;
  }


   .hero-image--01 {
    display: none;
  }

  .hero-image--02 {
    display: block;
    border-top: 5px solid rgb(4, 126, 110);
    border-bottom: 5px solid rgb(4, 126, 110);
    padding: 0 auto;
  }

  .hero-button {
    background-color: #096559;
    border: 2px solid #000000;
    /* border-radius: 5px; */
    color: #d8c51b;
    font-size: 0.6rem;
    font-weight: 700;
    height: 2rem;
    letter-spacing: 0.07rem;
    padding: 0.5em 2em;
    right: 68%;
  }

  .shirts-button {
    font-size: 0.8rem;
  }

  .index-h1 {
    font-size: 1rem;
  }

  .index-h3,
  .gallery-h3 {
    font-size: 1rem;
  }

  .footer-button {
    font-size: 1.2rem;
  }

}

@media (max-width: 850px) {
   /* We added this after we added transform translateX to the .nav-links(below) */
  body {
    overflow-x: hidden;
  }

  .nav-links {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 1.5rem 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 1.2rem;
    height: 20vh;
    position: absolute;
    right: 0;
    top: 2.5vh;
    /* this pushes the menu to the far side when the screen is large. To not see the menu, we add body{overflow-x:hidden (above); */
    transform: translateX(100%);
    /* the width can be smaller or larger if we want */
    max-width: 40%;
    transition: transform 0.5s ease-in;
    z-index: 1;
  }
  .nav-links li {
    /* this is so when we click on the burger the links will fade in nicely */
    opacity: 0;
  }

  .nav-links a {
    font-size: 1.2rem;
  }

  .burger {
    display: block;
  }

  .nav-active {
    transform: translateX(0%);
  }
  }

  /* ====KEYFRAMES==== */
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
.toggle .line1 {
  /* the -5px is the x axis and 6px is the y */
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}