:root {
  --dark: #000000;
  --lite: #c6c5da;
  --liteblue: #85c8f5;
  --med: #78739b;
  --gray: #535370;
  --wht: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Quicksand", sans-serif;
  height: 100%;
}

body {
  font-size: 16rem;
  font-weight: 700;
  line-height: 1.3;
  margin: 0;
  min-height: 100%;
  width: 100%;
  max-width: 1280px;

  display: flex;
  flex-direction: column;
}

img {
  display: block;
  max-width: 100%;
}

.index-html,
.gallery-html {
  background-color: #000;
  /* font-size below is 18px */
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.3;
  margin: 0;
  min-height: 100vh;
  width: 100%;
  max-width: 1280px;
}

h1,
h2,
h3 {
  color: var(--dark);
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  line-height: 1.1;
  text-align: center;
}

h1,
h2,
h3,
p {
  margin: 0;
}

h2,
h3,
p {
  margin-bottom: 1em;
}

a {
  text-decoration: none;
}

.navbar {
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 4rem;
  padding: 0 3em;
  margin-bottom: 4.5rem;
}

.nav-menu {
  display: flex;
  /* this puts space between the logo and the list items */
  justify-content: space-between;
  align-items: center;
  /* this pushes the links to the right */
  /* margin: 0 0 5px auto; */
  gap: 2em;
}

.nav-item {
  list-style: none;
}

.nav-link,
.nav-link--gallery {
  color: #e5ff00;
  font-size: 1.3rem;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: var(--txt-shdo);
  transition: 1s ease;
}

.nav-link:hover {
  color: #ff0000;
  transform: scale(1.1);
}

/* LOGO */
a.index-brand--index,
a.gallery-brand--index {
  font-size: clamp(1.3rem, 0.9667rem + 1.6667vw, 2.3rem);
  color: #17c517;
  /* background-image: linear-gradient(
    90deg,
    red,
    orange,
    yellow,
    green,
    #083deb,
    violet
  );
  background-clip: text;
  color: transparent; */
  margin-top: 0.05em;
  padding: 0.2em;
}

.index-brand--index:hover,
 a.gallery-brand--index:hover {
  color: #ec6d31;
}
/* ====BURGER==== */

.burger {
  cursor: pointer;
  /* this makes the burger disappear when the screen is wider than 800px */
  display: none;
}

.bar {
  background-color: #e5ff00;
  display: block;
  height: 3px;
  width: 25px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
}

/* BUTTONS */

.a-btn {
  margin: 0 auto;
  text-align: center;
}

.hero-button {
  display: inline-block;
  border: none;
  border-radius: 10px;
  background-color: #ff5100;
  color: #eeff00;
  cursor: pointer;
  font-family: "Quicksand", sans-serif;
  font-size: 0.75rem;
  font-weight: 700;
  height: 2rem;
  letter-spacing: 0.07rem;
  margin: 0 auto;
  padding: 1em 0.75em;
  outline: none;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.shirts-button {
  display: inline-block;
  border: 2px solid #000;
  border-radius: 5px;
  background: none;
  background-color: #eeff00;
  color: #ff5100;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  height: 2.5rem;
  letter-spacing: 0.09rem;
  padding: 0.5em 2em;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 auto;
}

.hero-button::before {
  content: "";
  position: absolute;
  top: 110%;
  left: 0;
  height: 100%;
  width: 100%;

}

.shirts-button::before {
  content: "";
  position: absolute;
  top: 110%;
  left: 0;
  height: 100%;
  width: 100%;
}

.hero-button:hover {
  background-color: #e5ff00;
  color: #ff5100;
  border: 2px solid #000;
  overflow: hidden;
}

.shirts-button:hover {
  color: #ff5100;
  box-shadow: 0 5px 50px 0 #eeff00 inset, 0 5px 50px 0 #eeff00,
    0 5px 50px 0 #eeff00 inset, 0 5px 50px 0 #eeff00;
  overflow: hidden;
}

/* =====HERO SECTION===== */
.index-h1 {
  color: #f17a43;
  margin-bottom: 1rem;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  margin-top: 2rem;
  width: 100%;
  max-width: 1280px;
}

.hero-flex {
  margin: 0;
  padding: 0;
}

.hero-image--01 {
  margin: 0;
  padding: 0 auto;
  max-width: 70%;
  margin: 0 auto;
}

.hero-image--02 {
  display: none;
}

/* END OF HERO SECTION */

/* GALLERY PAGE*/
.gallery-images {
  min-height: 100%;
}

.gallery-images--text {
  font-size: 1rem;
  margin: 0 auto;
  margin-top: 3rem;
  text-align: center;
  max-width: 500px;
  padding: 0 1em;
}

.gallery-img--para {
  color: #d8d2d2;
  font-size: 1.3rem;
  line-height: 1.4;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.gallery-images--span {
  color: #ff0000;
  font-size: 1.2rem;
}

.genson-span {
  color: #e9fa03;
}

.shop-text {
  color: #75f780;
  font-size: 1rem;
  text-decoration: underline;
  text-transform: uppercase;
}

.shop-text:hover {
  color: #e9fa03;
}

.main-gallery {
  position: relative;
  margin-top: 1rem;
  width: 100vw;
  min-height: 100%;
  padding: 0 1.5rem;
  padding-bottom: 100px;
}

.images-gallery {
  border-bottom: 2px solid #083deb;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  height: auto;
  width: 100%;
  max-width: 1280px;
}

.img-gall {
  border: 2px solid var(--lite);
  width: 300px;
  object-fit: cover;
  object-position: center;
}

/* FOOTER */
.index-footer {
  background-color: #000;
  position: relative;
  height: 100px;
  text-align: center;
  margin-top: 2rem;
}

.gallery-footer {
  background-color: #000;
  line-height: 1;
  position: relative;
  height: 100px;
  text-align: center;
  clear: both;
}

.copyright-01 {
  color: var(--lite);

}

.copyright-02 {
  background-image: linear-gradient(90deg,
      red,
      orange,
      yellow,
      green,
      #083deb,
      violet);
  background-clip: text;
  color: transparent;
  text-align: center;
}

.index-email,
.gallery-email {
  color: var(--wht);
  font-size: 0.75rem;
  line-height: 2;
}

/* SOCIAL ICONS */

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: linear-gradient(90deg,
      red,
      orange,
      yellow,
      green,
      #083deb,
      violet);
  background-clip: border-box;
  color: transparent;
}

.social-icon {
  color: var(--dark);
  font-size: 2rem;
  margin: 0 1rem;
  margin-top: 1rem;
}

.social-icon :hover {
  color: var(--wht);
}

/* MEDIA QUERIES */
@media screen and (max-width: 353px) {
  .hero-button {
    background-color: #002fff;
    border: 1px solid rgb(251, 255, 0);
    color: #ffffff;
    font-size: 0.5em;
    font-weight: 700;
    height: 1.5rem;
    letter-spacing: 0.07rem;
    padding: 0.4rem 1.5em;
    right: 68%;
  }
}

@media screen and (max-width: 475px) {
  .nav-link,
  .nav-link--gallery {
    color: #e5ff00;
    font-size: 1rem;
  }

  .nav-item--gallery {
    color: var(--wht);
  }

  .nav-link--gallery {
    color: #fff;
    text-transform: uppercase;
  }

  .gallery-img--para,
  .gallery-images--span {
    font-size: 1rem;
    padding: 0 1rem;
    text-align: left;
  }

  .shop-text {
    font-size: 1rem;
  }

  .shirts-button {
    font-size: 0.5rem;
    padding: 0.5rem 0.75rem;
  }

  .bar {
    background-color: #e5ff00;
    display: block;
    height: 2px;
    width: 18px;
    margin: 3px auto;
    transition: all 0.3s ease-in-out;
  }
}


@media screen and (max-width: 650px) {
  .navbar {
    flex-direction: column;
  }

  .nav-menu {
    flex-direction: column;
  }

  a.nav-link {
    color: #e5ff00;
    font-size: 1rem;
  }

  .nav-link--gallery {
    font-size: 1rem;
  }

  .bar {
    background-color: #e5ff00;
    display: block;
    height: 2px;
    width: 18px;
    margin: 3px auto;
    transition: all 0.3s ease-in-out;
  }

  .hero-image--01 {
    display: none;
  }

  .hero-image--02 {
    display: block;
    border-top: 5px solid var(--lite);
    border-bottom: 5px solid var(--lite);
    padding: 0 auto;
  }

  .hero-button {
    background-color: #002fff;
    border: 1px solid rgb(0, 0, 0);
    color: #ffffff;
    font-size: 0.5em;
    font-weight: 700;
    height: 1.7rem;
    letter-spacing: 0.07rem;
    padding: 0.5rem 2em;
    right: 68%;
  }

  .shirts-button {
    font-size: 0.5rem;
  }

  .index-h1 {
    font-size: 1rem;
  }

}

@media screen and (max-width: 850px) {
  .burger {
    display: block;
  }

  .burger-active .bar:nth-child(2) {
    opacity: 0;
  }

  .burger-active .bar :nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .burger-active .bar :nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    background-color: rgba(0, 0, 0, 0.1);
    flex-direction: column;
    left: 100%;
    top: 79px;
    gap: 0;
    text-align: center;
    width: 100%;
    transition: 1s ease-in-out;
    position: absolute;
    margin-top: 1rem;
  }

  .nav-item {
    margin: 8px 0;
  }

  .nav-link {
    color: #e5ff00;
    text-shadow: var(--txt-shdo);
    z-index: 1;
  }

  .nav-link:hover {
    color: crimson;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-link--gallery {
    color: #fff;
  }

  .nav-link--gallery:hover {
    color: #00ff00;
  }
}

@media screen and (max-width: 933px) {
  .images-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .img-gall {
    object-position: center;
  }
}